.overlay-text{
    position: absolute;
    top: 20%;
    bottom: 20%;
    transform: translate(0%, -30%);
    color: #EC6E18;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}