.overlay-text{
    position: absolute;
    top: 20%;
    bottom: 20%;
    transform: translate(0%, -30%);
    color: #EC6E18;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Basic web pages*/
body{
    background-color: #bddff7;
    color: #EC6E18;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 50px;
    height: 80px;
    background-color: #9ed1f5;
  }

  nav a{
    text-decoration: none;
    color: #EC6E18;
    font-weight: bold;
  }

  .input-section{
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .progress-bar-container{
    position: absolute;
    left: 50;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(2, 35, 58, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #progress-bar{
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
  }

  label{
    color:#EC6E18;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
  }